/!Backup*
/!RELEASE*
/AE.Docs*
/AE.Web*
/NatTest*
/OpenTK.Math*
/WinProjATL*
Thumbs.db
*.dll
*.obj
*.pdb
*.exe
*.zip
*.rar
*.ncb
*.ilk
*.exp
*.lib
*.suo
*.user
*.[Cc]ache
*.resources
*.FileListAbsolute.txt
BuildLog.htm
*/obj*
*.manifest
*.res
*.dep
