/!Backup*
/!RELEASE*
/AE.Docs*
/AE.Web*
/OpenTK.Math*
/WinProjATL*
Thumbs.db
*.dll
*.obj
*.pdb
*.exe
*.zip
*.rar
*.ncb
*.suo
*.user
*.cache
*.Cache
*.resources
*.FileListAbsolute.txt
BuildLog.htm
*/obj*
